@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    overscroll-behavior: none;
    background-color: '#000000';
}

html {
  font-size: clamp(8px, 2vw, 20px); 
}

body {
  font-family: "Inconsolata", monospace; 
  line-height: 1.6; 
  margin: 0;
  padding: 0;
  background-color: #000000;
}
