@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    overscroll-behavior: none;
    background-color: '#000000';
}

html {
  font-size: clamp(8px, 1vw, 12px); 
}

body {
  font-family: "Inconsolata", monospace; 
  line-height: 1.6; 
  margin: 0;
  padding: 0;
  background-color: #000000;
}

a {
  text-decoration: none; 
  transition: text-shadow 0.2s ease, color 0.2s ease; 
}

a:hover {
  text-decoration: none; 
  text-shadow: 0 0 2px #BBBBBB, 0 0 4px #BBBBBB, 0 0 6px #BBBBBB; 
}

.r-link {
  text-decoration: none; 
  transition: text-shadow 0.2s ease, color 0.2s ease; 
}

.r-link:hover {
  text-decoration: none; 
  color: #00ffcc; 
  text-shadow: 0 0 1px #00ffcc, 0 0 1px #00ffcc, 0 0 2px #00ffcc; 
}

.source-code-button{
  color: #ff4081; 
  text-decoration: none; 
  transition: text-shadow 0.2s ease, color 0.2s ease; 
}

.source-code-button:hover {
  text-decoration: none; 
  color: #ff4081; 
  text-shadow: 0 0 1px #ff4081, 0 0 1px #ff4081, 0 0 2px #ff4081; 
}
